<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h2>login page</h2>
    <form action="/login" method="POST">
        <label>username:</label>
        <input type="text" id="username" placeholder="enter your username" name="username" required>
        <br><br>
        <label>password:</label>
        <input type="password" id="password" placeholder="enter your password" name="password" required>
        <br><br>
        <input  type="submit" value="login">
        <br><br>
    </form>
</body>
</html>